# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.DataFrame(pd.read_csv(file_path))

# Display sample data
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Bansko,BG,41.8383,23.4885,65.75,100,66,2.15,broken clouds
1,Taoudenni,ML,22.6783,-3.9836,100.53,12,0,5.44,clear sky
2,Cherskiy,RU,68.7500,161.3000,29.61,98,100,1.09,light snow
3,Kaitangata,NZ,-46.2817,169.8464,36.66,92,11,1.43,few clouds
4,Kapaa,US,22.0752,-159.3190,75.18,92,75,2.57,moderate rain

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input('Minimum temperature in Farenheit? '))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input('Maximum temperatur Farenheit? '))

Minimum temperature in Farenheit? 75
Maximum temperatur Farenheit? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) \
                                & (city_data_df['Max Temp'] >= min_temp)]

# Display sample data
# YOUR CODE HERE
preferred_cities_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,Kapaa,US,22.0752,-159.3190,75.18,92,75,2.57,moderate rain
6,Itarema,BR,-2.9248,-39.9167,88.79,50,30,8.51,scattered clouds
7,Mahibadhoo,MV,3.7833,72.9667,82.33,76,90,8.47,overcast clouds
9,Nabire,ID,-3.3667,135.4833,76.37,90,86,1.37,overcast clouds
12,Isangel,VU,-19.5500,169.2667,75.60,89,23,3.03,few clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities_as_in_dropna_not_like_the_derogatory_way = preferred_cities_df.dropna(how='any')

# Display sample data
# YOUR CODE HERE
clean_travel_cities_as_in_dropna_not_like_the_derogatory_way.count()

City                   217
Country                217
Lat                    217
Lng                    217
Max Temp               217
Humidity               217
Cloudiness             217
Wind Speed             217
Current Description    217
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_as_in_dropna_not_like_the_derogatory_way[['City','Country','Max Temp','Current Description','Lat','Lng']].copy()
# Display sample data
# YOUR CODE HERE
hotel_df.head()

          City Country  Max Temp Current Description      Lat       Lng
4        Kapaa      US     75.18       moderate rain  22.0752 -159.3190
6      Itarema      BR     88.79    scattered clouds  -2.9248  -39.9167
7   Mahibadhoo      MV     82.33     overcast clouds   3.7833   72.9667
9       Nabire      ID     76.37     overcast clouds  -3.3667  135.4833
12     Isangel      VU     75.60          few clouds -19.5500  169.2667

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_name = []
hotel_df = hotel_df.assign(hotel_name = "")
hotel_df = hotel_df.rename(columns={'hotel_name':'Hotel Name'})

# Display sample data
# YOUR CODE HERE
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Kapaa,US,75.18,moderate rain,22.0752,-159.3190,
6,Itarema,BR,88.79,scattered clouds,-2.9248,-39.9167,
7,Mahibadhoo,MV,82.33,overcast clouds,3.7833,72.9667,
9,Nabire,ID,76.37,overcast clouds,-3.3667,135.4833,
12,Isangel,VU,75.60,few clouds,-19.5500,169.2667,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("hotel found")
    except (IndexError):
        print("Hotel not found... skipping.")

print('Search completed!')

hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
Hotel not found... skipping.
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Hotel not found... skipping.
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
hotel found
Search completed!

In [10]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Kapaa,US,75.18,moderate rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,Itarema,BR,88.79,scattered clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
7,Mahibadhoo,MV,82.33,overcast clouds,3.7833,72.9667,Omadhoo Inn
9,Nabire,ID,76.37,overcast clouds,-3.3667,135.4833,Hotel Nusantara I
12,Isangel,VU,75.60,few clouds,-19.5500,169.2667,Tanna Lodge

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how='any')

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Kapaa,US,75.18,moderate rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,Itarema,BR,88.79,scattered clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
7,Mahibadhoo,MV,82.33,overcast clouds,3.7833,72.9667,Omadhoo Inn
9,Nabire,ID,76.37,overcast clouds,-3.3667,135.4833,Hotel Nusantara I
12,Isangel,VU,75.60,few clouds,-19.5500,169.2667,Tanna Lodge

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [16]:
# Set the file name.
output_data_file = 'Vacation_Search/WeatherPy_vacation.csv'

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [25]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:1]

['\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>moderate rain and 75.18 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [19]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
4   22.0752 -159.3190
6   -2.9248  -39.9167
7    3.7833   72.9667
9   -3.3667  135.4833
12 -19.5500  169.2667
15 -13.8833  167.5500
19  22.8909 -109.9124
28  36.3703   30.2869
32 -23.8650   35.3833
36  18.7333 -103.6833

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [24]:
# Add a marker layer for each city to the map. 
# Your Code Here
marker_layer = gmaps.marker_layer(locations)
# Create a figure to add the Google map as a layer
# YOUR CODE HERE
fig = gmaps.figure(center=(30, 31), zoom_level=1.5)
fig.add_layer(marker_layer)
# Display the figure containing the map
# YOUR CODE HERE
fig

Figure(layout=FigureLayout(height='420px'))