# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [7]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.DataFrame(pd.read_csv('Vacation_Search/WeatherPy_vacation.csv'))

# Display sample data
vacation_df.head()

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Kapaa,US,75.18,moderate rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,6,Itarema,BR,88.79,scattered clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
2,7,Mahibadhoo,MV,82.33,overcast clouds,3.7833,72.9667,Omadhoo Inn
3,9,Nabire,ID,76.37,overcast clouds,-3.3667,135.4833,Hotel Nusantara I
4,12,Isangel,VU,75.60,few clouds,-19.5500,169.2667,Tanna Lodge

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [8]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [9]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [25]:
try:
    vacation_df = vacation_df.drop('Unnamed: 0', axis=1)
except:
    pass
vacation_df.loc[vacation_df['Country'] == 'CN']

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
46,Qidong,CN,76.93,clear sky,31.8128,121.6561,Hilton Garden Inn Qidong
65,Wenling,CN,76.10,clear sky,28.3669,121.3600,Hanting Express Wenling Wanchang North Road
74,Deqing,CN,80.94,clear sky,30.5448,119.9599,Narada Boutique Hotel Huzhou Deqing
93,Zhuhai,CN,82.85,light intensity shower rain,22.2769,113.5678,珠海粤财假日酒店
144,Wanning,CN,78.28,overcast clouds,18.8003,110.3967,Paradise Hotel

In [83]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df['City'] == 'Qidong']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Qidong']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Wenling']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Deqing']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Zhuhai']

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [132]:
# Get the latitude-longitude pairs as tuples from each /n
# city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [172]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')

# Add the layer to the map
# YOUR CODE HERE
fig.add_layer(vacation_itinerary)

# Display the map
# YOUR CODE HERE
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [152]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Qidong,CN,76.93,clear sky,31.8128,121.6561,Hilton Garden Inn Qidong
1,Wenling,CN,76.10,clear sky,28.3669,121.3600,Hanting Express Wenling Wanchang North Road
2,Deqing,CN,80.94,clear sky,30.5448,119.9599,Narada Boutique Hotel Huzhou Deqing
3,Zhuhai,CN,82.85,light intensity shower rain,22.2769,113.5678,珠海粤财假日酒店

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [165]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[['Lat','Lng']]

In [171]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))